@font-face {
    font-family: "Zekton";
    src: url("./zekton_rg.ttf");
}

body {
    --dark: #1E1E1E;
    --background: #F5F5F5;
    --block1: #E3E3E3;
    --block2: #D0BCE2;
    --block3: #F9F9F9;

    padding: 0;
    margin: 0;
    font-family: "Zekton", serif;
    background-color: var(--background);
    color: var(--dark);
}

header {
    display: flex;
    background-color: var(--dark);
    color: var(--background);
    padding: 15px;
    align-items: center;
    justify-content: flex-start;
    height: 100px;
}

.card {
    background-color: var(--block1);
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    box-shadow: var(--block2) 0 0 15px;
    border: 3px solid var(--block2);
}

.header-icon {
    width: 80px;
    height: auto;
}

.form-field {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.form-field > * {
    display: inline-block;
}

.polygon_image {
    height: 100%;
    width: auto;
}

.band {
    background-color: var(--dark);
    display: flex;
    justify-content: center;
    padding: 10px;
}

.band > * {
    display: inline-block;
    color: var(--background);
    font-size: 25px;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

th {
    width: min-content;
}

.con {
    color: #3f9b15;
    transition: all 0.3s ease;
    cursor: pointer;
}

.con:hover {
    color: #70bd4e;
    transition: all 0.3s ease;
}

.ncon {
    color: #d6522e;
    cursor: pointer;
    transition: all 0.3s ease;
}

.ncon:hover {
    color: #e77858;
    transition: all 0.3s ease;
}

footer {
    background-color: #1E1E1E;
    display: flex;
    flex-direction: row;
    padding: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #F9F9F9;
}